<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deleting a Planet from Your Collection</title>
  </head>
  <body>
    <h1>Here you can delete a planet from your collection</h1>
  </body>
</html>
