<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manager Your Planets Collection</title>
  </head>
  <body>
    <a href="/addPlanet">Add a planet</a>
    <a href="/viewCollection">View your planets</a>
  </body>
</html>
